{% extends 'navbar_admin.html.twig' %}

{% block title %}{{ parent() }} - Enregistrement de produits{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="store p-3">
        <div class="container">
            {% if text_alert is defined and class_alert is defined %}
                <div class="alert {{ class_alert }} rounded-0 text-center" role="alert">{{ text_alert }}</div>
            {% endif %}
            <div class="mt-4">
                <section class="border p-3 shadow-sm">
                    <h1 class="display-4 text-center mb-2">Enregistrement de produits</h1>
                    <article class="w-50 mx-auto">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.name, 'Nom du produit') }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control rounded-0'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.reference, 'Référence') }}
                            {{ form_widget(form.reference, {'attr': {'class': 'form-control rounded-0'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.description, '') }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control rounded-0'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.image, '') }}
                            {{ form_widget(form.image, {'attr': {'class': 'form-control-file rounded-0'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.image_to_customize, 'Image individuelle') }}
                            {{ form_widget(form.image_to_customize, {'attr': {'class': 'form-control-file rounded-0'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.is_new, 'Est-ce une nouveauté ?') }}
                            {{ form_widget(form.is_new, {'attr': {'class': 'custom-select rounded-0'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.quantity, 'Quantité disponible') }}
                            {{ form_widget(form.quantity, {'attr': {'class': 'form-control rounded-0'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.number_in_pack, 'Nombre de balles par pack') }}
                            {{ form_widget(form.number_in_pack, {'attr': {'class': 'form-control rounded-0'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.price_individuals, 'Prix pour particuliers') }}
                            {{ form_widget(form.price_individuals, {'attr': {'class': 'form-control rounded-0'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.price_professionals, 'Prix pour professionnels') }}
                            {{ form_widget(form.price_professionals, {'attr': {'class': 'form-control rounded-0'}}) }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary rounded-0">Enregistrer</button>
                        </div>
                        {{ form_end(form) }}
                    </article>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/rmconcept.js') }}"></script>
{% endblock %}