{% extends 'navbar_store.html.twig' %}

{% block title %}{{ parent() }} - Panier{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="store pb-5 mb-5 pt-4">
        <div class="container">
            {% if text_alert is defined and class_alert is defined %}
                <div class="alert {{ class_alert }} rounded-0 text-center">{{ text_alert }}</div>
            {% endif %}
            <section>
                <h1 class="display-4 text-center mb-4">Mon Panier</h1>
                <article>
                    <ul class="list-group rounded-0 shadow-sm">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="w-25 text-center">Image</div>
                                <div class="w-20 text-center">Nom</div>
                                <div class="w-15 text-center">Quantité</div>
                                <div class="w-15 text-center">Prix unitaire</div>
                                <div class="w-15 text-center">Prix</div>
                            </div>
                        </li>
                        {% for shopping_cart_product in shopping_cart_products %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="w-25 text-center"><img class="w-25" src="{{ asset('images/balls/') ~ shopping_cart_product.product.image }}" alt="Image non chargée."/></div>
                                    <div class="w-20 text-center">{{ shopping_cart_product.product.name }}</div>
                                    <div class="w-15 text-center">{{ shopping_cart_product.quantity }}</div>
                                    <div class="w-15 text-center">{{ shopping_cart_product.product.priceIndividuals|number_format(2, ',', ' ') }} €</div>
                                    <div class="w-15 text-center">{{ (shopping_cart_product.price * shopping_cart_product.quantity)|number_format(2, ',', ' ') }} €</div>
                                    <div class="w-10 text-center"><a class="btn btn-info rounded-0" href="{{ path('delete_product', { 'reference': shopping_cart_product.product.reference }) }}"><i class="far fa-trash-alt"></i></a></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </article>
                <article class="float-right m-3">
                    <h4>Prix total : {{ total_price|number_format(2, ',', ' ') }} €</h4>
                    {% if app.user.shoppingCartNotConfirmed.productQuantity > 0 %}
                        <a class="btn btn-info rounded-0 float-right" href="{{ path('choice_haulier') }}">Valider le panier</a>
                    {% else %}
                        <a class="btn btn-info rounded-0 float-right" href="#">Valider le panier</a>
                    {% endif %}
                </article>
            </section>
        </div>
    </div>
{% endblock %}