{% extends 'navbar_store.html.twig' %}

{% block title %}{{ parent() }} - Magasin{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="store pb-5 mb-5 pt-4">
        <div class="container">
            <section>
                {% if individual is defined %}
                    <h1 class="display-4 text-center mb-4">Balles personnalisables</h1>
                {% else %}
                    <h1 class="display-4 text-center mb-4">Espace entreprise</h1>
                {% endif %}
                <article>
                    <div class="card-group">
                        {% for product in products %}
                            <div class="col-md-3">
                                <div class="card shadow-sm rounded-0 mb-4">
                                    {% if product.quantity < 12 %}
                                        <span class="badge badge-danger rounded-0">Rupture de stock</span>
                                    {% endif %}
                                    <div class="p-2 w-75 m-auto">
                                        <a href="{{ path('product-page', { 'reference': product.reference }) }}">
                                            <img class="card-img-top" src="{{ asset('images/balls/' ~ product.image) }}" alt="Image non chargée">
                                        </a>
                                    </div>
                                    <div class="card-body p-0">
                                        <h5 class="card-title text-center mb-0">{{ product.name }}</h5>
                                        {% if product.numberInPack == 3 %}
                                            <h5 class="card-title text-center">3 balles</h5>
                                        {% else %}
                                            <h5 class="card-title text-center">12 balles</h5>
                                        {% endif %}
                                        {% if individual is defined %}
                                            <p class="card-text text-center font-weight-bold">{{ product.priceIndividuals|number_format(2, ',', '.') }} €</p>
                                        {% else %}
                                            <p class="card-text text-center font-weight-bold">{{ product.priceProfessionals|number_format(2, ',', '.') }} €</p>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{ path('product-page', { 'reference': product.reference }) }}" class="btn btn-primary rounded-0 w-100">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </article>
            </section>
        </div>
    </div>
{% endblock %}