{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarAdmin">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_home') }}"><i class="fas fa-columns"></i> Tableau de bord</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-dolly"></i> Gestion des produits
                        </a>
                        <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('registration_product') }}"><i class="fas fa-angle-right"></i> Enregistrement</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-angle-right"></i> Suppression</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-angle-right"></i> Modification</a>
                            <a class="dropdown-item" href="{{ path('admin_stock') }}"><i class="fas fa-angle-right"></i> Stocks</a>
                            <a class="dropdown-item" href="{{ path('admin_state') }}"><i class="fas fa-angle-right"></i> Etats</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ path('admin_customer') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-cog"></i> Gestion des clients
                        </a>
                        <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('admin_customer') }}"><i class="fas fa-angle-right"></i> Particuliers</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-angle-right"></i> Entreprises</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}